{{#if ch}}
<script>
    alert("Incorrect Credentials");
</script>
{{/if}}
<section>
    <form action="/" method="POST">

    <label>Mail</label><br>
    <input type="email" placeholder="Mail Id" name="mail" required><br>

    <label>Password</label><br>
    <input type="password" placeholder="Password" name="password" required><br>

    <input type="submit">

    </form>
</section>